<?xml version="1.0" encoding="utf-8"?>
<manifest package="samurai.geeft.android.geeft"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <permission android:name="samurai.geeft.android.geeft.permission.C2D_MESSAGE"
                android:protectionLevel="signature" />
    <uses-permission android:name="samurai.geeft.android.geeft.permission.C2D_MESSAGE" />
    <uses-feature android:name="android.hardware.camera"
                  android:required="true" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/geeft_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".ApplicationInit">

        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

        <meta-data android:name="com.facebook.sdk.ApplicationId"
                   android:value="@string/facebook_app_id"/>

        <activity android:name=".activities.InitialActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Implementation of share button -->
        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges=
                      "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:screenOrientation="portrait"
                  android:label="@string/app_name" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider1537015443283612"
                  android:name="com.facebook.FacebookContentProvider"
                  android:exported="true"/>

        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".activities.LogoutActivity"
                  android:screenOrientation="portrait"/>

        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable">
            </meta-data>
        </activity>

        <activity android:name=".activities.CompactDialogActivity"
                  android:screenOrientation="portrait"/>


        <!-- Add geeft activity-->
        <activity android:name=".activities.AddGeeftActivity"
                  android:screenOrientation="portrait"/>

        <!-- Add geeft activity-->
        <activity android:name=".activities.SearchGeeftActivity"
                  android:screenOrientation="portrait"/>
                  <!--android:theme="@style/Theme.Transparent"-->
            />

        <!--Donated geeft activity-->
        <activity android:name=".activities.DonatedActivity"
                  android:screenOrientation="portrait"/>

        <!--Received geeft activity-->
        <activity android:name=".activities.ReceivedActivity"
                  android:screenOrientation="portrait"/>

        <!--Assigned geeft activity-->
        <activity android:name=".activities.AssignedActivity"
                  android:screenOrientation="portrait"/>

        <!--Reserved geeft activity-->
        <activity android:name=".activities.ReservedActivity"
                  android:screenOrientation="portrait"/>

        <!-- Send Report activity-->
        <activity android:name=".activities.SendReportActivity"
                  android:screenOrientation="portrait"/>

        <!-- Settings activity-->
        <activity android:name=".activities.SettingsActivity"
                  android:screenOrientation="portrait"
            android:theme="@style/AppThemeSettings"/>

        <!-- FullScreenViewActivity-->
        <activity android:name=".activities.FullScreenViewActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activities.FullGeeftDetailsActivity"
                  android:screenOrientation="portrait"/>

        <!-- Winner Screen-->
        <activity android:name=".activities.WinnerScreenActivity"
                  android:screenOrientation="portrait"/>

        <!-- Categories Activity-->


        <!-- FeedbackPage Activity-->
        <activity android:name=".activities.FeedbackPageActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activities.AddStoryActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activities.HowToDoActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activities.FullScreenImageActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activities.CategoryActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activities.UserProfileActivity"
                  android:screenOrientation="portrait"/>

        <activity android:name=".activities.ActivityRecylerAnimators"/>

        <activity android:name=".activities.UsernameMailActivity"/>


        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name="samurai.geeft.android.geeft.utilities.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="samurai.geeft.android.geeft.utilities.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name="samurai.geeft.android.geeft.utilities.RegistrationIntentService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="cf18cda6f85b50ea9fd5708a49cc4381861f216c" />
    </application>

</manifest>
